*{
    margin:0;
    padding:0;
    font-family: 'Playfair Display';
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
  


  }

body{
    background-color: white;
  }

  .nameee{
position: absolute;
width: 220px;
height: 32px;
left: 57px;
top: 25px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* identical to box height */

letter-spacing: 0.02em;

color: #111010;

  }
  
  
  
  .topnav{
      height: 80px;
      background-color: white;
  }
  .navright a {

position: absolute;
width: 66px;
height: 32px;

top: 24px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height */

letter-spacing: 0.02em;

color: #111010;

    
  }
 

  .topimg{
    position: absolute;
    z-index: 0;
    top: 91px;
    left: 6%;
    height:650px;
  }
  .topimg img{
    position: absolute;
    width: 1246px;
    height: 641px;
    left: 54px;
    right: 54px;


  }
  .topimg1{
    position: absolute;
    width: 357px;
    height: 451px;
    left: 500px;
    top: 271px;
    z-index: 3;
  }
  .emprec{
    position: absolute;
    width: 356px;
    height: 454px;
    left: 545px;
    top: 231px;
    
    border: 4px solid rgb(167 160 160 / 60%);
    box-sizing: border-box;
    
  }
  .hey{
    position: absolute;
width: 682px;
height: 107px;
left: 500px;
top: 100px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 107px;
/* identical to box height */

letter-spacing: 0.02em;

color: #111010;
  }

  button a:hover{
    text-transform: scale(00.6s);

    cursor: pointer;
    transform: scale(1.2);
    
    
   
    }
    .navright a:hover{
      color: rgb(210, 225, 235);
      cursor: pointer;
     
    }

.hey2{
  position: absolute;
width: 488px;
height: 23px;
left: 506px;
top: 194px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: justify;
letter-spacing: 0.05em;

color: #111010;
}

  .abc{
    position: absolute;
    width: 653px;
    height: 107px;
    left: 142px;
    top: 870px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 107px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #111010;
    
  }
  .abcd{
    position: absolute;
    width: 920px;
    height: 83px;
    left: 142px;
    top: 1059px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    /* or 167% */
    
    text-align: justify;
    letter-spacing: 0.03em;
    
    color: #111010;
    

    
  }
  .abcde{
    position: absolute;
    width: 920px;
    height: 80px;
    left: 142px;
    top: 1112px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    /* or 167% */
    
    text-align: justify;
    letter-spacing: 0.03em;
    
    color: #111010;
    
  }
  .abcdef{
    position: absolute;
    width: 920px;
    height: 50px;
    left: 142px;
    top: 1187px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    /* or 167% */
    
    text-align: justify;
    letter-spacing: 0.03em;
    
    color: #111010;
    
  }
  .abcdefg{
    position: absolute;
    width: 920px;
    height: 83px;
    left: 142px;
    top: 1247px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    /* or 167% */
    
    text-align: justify;
    letter-spacing: 0.03em;
    
    color: #111010;
    
    
  }
  .ab1{
    position: absolute;
    width: 905px;
    height: 106px;
    left: 142px;
    top: 1570px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.02em;
    
    color: #111010;
    
  }
  .ab2{
    position: absolute;
    width: 717px;
    height: 107px;
    left: 142px;
    top: 1433px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 107px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #111010;
    
  }

  .ab3{
    position: absolute;
    width: 363px;
    height: 476px;
    left: 164px;
    top: 1712px;
    color: #111010;
    
  }
  .ab4{
    position: absolute;
    width: 324px;
    height: 476px;
    left: 560px;
    top: 1712px;  
    color: #111010; 
  }
  .ab5{
   
position: absolute;
width: 324px;
height: 476px;
left: 955px;
top: 1712px;
color: #111010; 
  }
  .ab6{
    position: absolute;
    width: 540px;
    height: 675px;
    left: 216px;
    top: 2303px;
    color: #111010;
     
  }
  .ab7{
    position: absolute;
width: 518px;
height: 656px;
left: 758px;
top: 2303px;
color: #111010;

  }
  .ab8{
    position: absolute;
width: 324px;
height: 476px;
left: 183px;
top: 3517px;

  }
  .ab9{
    position: absolute;
    width: 474.08px;
    height: 323.54px;
    left: 550.53px;
    top: 3515px;
    
  }
  .ab10{
    position: absolute;
    width: 354px;
    height: 476px;
    left: 922px;
    top: 3517px;   
  }
.ab3 h1{
  position: absolute;
  width: 238px;
  height: 27px;
  left: 67px;
  top: 505px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #111010;
}
.ab4 h1{
  position: absolute;
  width: 190px;
  height: 27px;
  left: 93px;
  top: 505px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #111010;
  
    
}
.ab5 h1{
  position: absolute;
  width: 297px;
  height: 27px;
  left: 36px;
  top: 505px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #111010; 
}
.ab6 h1{
  position: absolute;
  width: 335px;
  height: 27px;
  left: 64px;
  top: 498px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #111010; 
}
.ab7 h1{
  position: absolute;
  width: 275px;
  height: 27px;
  left: 143px;
  top: 498px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #111010;
    
}
.ab8 h1{
  position: absolute;
  width: 275px;
  height: 27px;
  left: 20px;
  top: 500px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #111010; 
}
.ab9 h1{
  position: absolute;
  width: 277px;
  height: 27px;
  left: 30px;
  top: 500px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
   
}
.ab10 h1{
  position: absolute;
  width: 184px;
  height: 27px;
  left: 80px;
  top: 500px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  text-align: justify;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  
    
}
.illustrationhead{
  position: absolute;
  width: 657px;
  height: 40px;
  left: 142px;
  top: 4167px;
  
  font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 107px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
}
.narutoill img{
  position: absolute;
  width: 518px;
  height: 496px;
  left: 142px;
  top: 4340px;
   
}
.narutoill h1{
  position: absolute;
  width: 618px;
  height: 496px;
  left: 742px;
  top: 4350px;
  font-family: Playfair Display;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 107px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
}
.narutoill a{
  position: absolute;
  width: 618px;
  height: 496px;
  left: 1100px;
  top: 4618px;
  font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 50px;
    /* identical to box height */
    z-index: 3;
    letter-spacing: 0.02em;
    
    color: #98d5fd;
}
.narutoill a:hover{
  color: #ffffff;
        cursor: pointer;
        text-transform: scale(00.6s);
        transform: scale(1.05);
}
.narutoill h2 img{
  position: absolute;
  width: 616px;
height: 425px;
  left: 702px;
  top: 4440px;
  z-index: 2;
}

.btt a{
  position: absolute;
  width: 357px;
  height: 40px;
  left: 520px;
  top: 4920px;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
  }
  .cta img{
    position: absolute;
    width: 1332px;
    height: 641px;
    left: 54px;
    top: 4998px;


  }
  .cta1 h1{
    position: absolute;
    width: 283px;
    height: 40px;
    left: 145px;
    top: 5043px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;

  }
.cta1 h2{
  position: absolute;
  width: 455px;
  height: 85px;
  left: 147px;
  top: 5092px;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
  }
.cta2 h1{
  position: absolute;
  width: 299px;
  height: 80px;
  left: 983px;
  top: 5043px;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;

}
.cta2 h2{
  position: absolute;
  width: 394px;
  height: 85px;
  left: 983px;
  top: 5092px;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
  
  

}
.cta3{
  position: absolute;
  width: 870px;
  height: 250px;
  left: 255px;
  top: 5240px;
  
  background: rgba(0, 0, 0, 0.6);
}
.cta3 h1{
  position: absolute;
  width: 758px;
  height: 85px;
  left: 221px;
  top: 30px;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 67px;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
  

}
.linkedin{
  position: absolute;
  left: 35.97%;
  right: 60.69%;
  top: 5550px;
  bottom: 1.26%;
  
  background: #FFFFFF;
  }
  .behance{
    position: absolute;
  left: 48.33%;
  right: 48.33%;
  top: 5550px;
  bottom: 1.26%;
  
  }
  .location{
  position: absolute;
  left: 58.89%;
  right: 39.03%;
  top: 5553px;
  bottom: 1.34%;
  }
  .location h1{
    position: absolute;
    width: 203px;
    height: 40px;
    left: 45px;
    top: 00px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    
  }
  .mail{
position: absolute;
left: 760px;
right: 44.79%;
top: 5383px;
bottom: 4.78%;
  }